cffi==1.14.2
cryptography>=42.0.4
numpy==1.26.4
opencv-python-headless==4.9.0.80
pandas==2.2.0
pycparser==2.20
pykalman-py311-update==0.9.6
pyproj==3.6.1
PyQt5==5.15.10
PyQt5-stubs
pyqtgraph==0.13.7
python-dateutil==2.9.0
pytz==2020.1
scipy==1.13.1